@import "tailwindcss";

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.indicator {
  transition: all 0.4s ease-in-out;
}  
.mt-24{
  margin-top: 3rem;
}
.pb-20{
  padding-bottom: 5rem;
}
.pt-9{
  padding-top: 2.5rem;
}